.error {
  color: #E51428;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 10px;
}

.label {
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  line-height: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.input {
  background-color: rgba(255,255,255,0.7);
  border: 0;
  border-radius: 2px;
  color: #444;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 13px;
  outline: none;
  padding: 0 10px;
  text-align: center;
  width: 180px;
}

.button {
  background-color: #E51428;
  border: 0;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  height: 25px;
  line-height: 25px;
  outline: none;
  padding: 0 22px;
}
.button:active {
  background-color: #ce1123;
}
