.start {
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid transparent;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDQwIDQwIj48ZyBmaWxsPSJub25lIj48ZyBmaWxsPSIjNEJDODAwIj48cGF0aCBkPSJNMjAgMEM5IDAgMCA5IDAgMjAgMCAzMSA5IDQwIDIwIDQwIDMxIDQwIDQwIDMxIDQwIDIwIDQwIDkgMzEgMCAyMCAwWk0xNCAyOEwxNCAxMiAzMCAyMCAxNCAyOFoiLz48L2c+PC9nPjwvc3ZnPgo=) no-repeat 50%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stop {
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid transparent;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDQwIDQwIj48ZyBmaWxsPSJub25lIj48ZyBmaWxsPSIjRTIwNTA1Ij48cGF0aCBkPSJNMCAyMEMwIDMxIDkgNDAgMjAgNDAgMzEgNDAgNDAgMzEgNDAgMjAgNDAgOSAzMSAwIDIwIDAgOSAwIDAgOSAwIDIwWk0yNyAyN0wxMyAyNyAxMyAxMyAyNyAxMyAyNyAyN1oiLz48L2c+PC9nPjwvc3ZnPgo=) no-repeat 50%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
